<% if logged_in? %>
    <%= form_for(@event) do |f| %>
        <% if @event.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@event.errors.count, "Fehler")%> verhindern die Speicherung des Events!</h2>

              <ul>
                <% @event.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label 'Anlass' %><br>
          <%= f.text_field :name, type: "text", required:"required"%>
        </div>
        <div class="field">
          <%= f.label :eventtext, "Hier ist Raum für Ihre Träume bezüglich Ihres Events:" %><br>
          <%= f.text_area :eventtext, type: "text", required: "required"%>
        </div>
        <div class="field">
          <%= f.label :guest, 'Anzahl der Gäste' %><br>
          <%= f.number_field :guest,type: "number", min:20, required:"required"%>
        </div>
        <div class="field">
          <%= f.label :deadline, 'Datum des Events' %><br>
          <%= f.date_select :deadline, {order: [:day, :month, :year], prompt: { day: 'Tag', month: 'Monat', year: 'Jahr' }, start_day:Date.today.day + 45, start_month:Date.today.month, start_year:2017}, {required: true} %>
        </div>

        <div class="actions">
          <%= f.submit 'Event anlegen oder aktualisieren', {:class => "btn btn-primary"} %>
        </div>
    <% end %>
<% end %>
